.agricontainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .agrititle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .agridescription {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
  }
  
  .agriread-more {
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .agrisubtitle {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }
  
  .agricareer-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
  }
  
  .agricareer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .agricareer-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .agricareer-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  