/* Blog Page Styling */
.blog-section {
    background-color: #c1d8e0;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: #f4f4f4; */
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.container-B {
    background-color: #c1d8e0;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-title-B {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    /* padding: 10px; */
    background: linear-gradient(90deg, #141b23, #141b23);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1.5s ease-in-out;
    
}

.section-description-B{
    font-size: 22px;
    line-height: 1.6;
    background: linear-gradient(90deg, #141b23, #114a6e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 5px;
    padding-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
    margin-top: -20px;
}

.blog-list-B {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: -10px;
}

.blog-post {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.blog-post:hover {
    transform: scale(1.05);
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 15px;
}

.blog-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #141b23;
}

.blog-description {
    font-size: 14px;
    color: #3b3b3b;
    margin-bottom: 15px;
    line-height: 1.4;
}

.blog-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #ff8c00;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.blog-button:hover {
    background-color: #ff6000;
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
