
.crash-course-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .crash-course-box-main {
    background-color: #ffee04;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
    /* box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14; */
    animation: float 3s infinite ease-in-out;
  }
  
  .crash-course-box-main:hover {
    box-shadow: 0 0 10px #071db0, 0 0 20px #3a40e7, 0 0 30px #3a4dc9;
  }
  
  .course-title-main {
    font-size: 24px;
    font-weight: bold;
  }
  
  .course-subtitlemain {
    font-size: 16px;
    margin-top: 10px;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  