
.crash-course-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .crash-course-box-main {
    background-color: #ffee04;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Arial', sans-serif;
    /* box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 30px #39ff14; */
    animation: float 3s infinite ease-in-out;
  }
  
  .crash-course-box-main:hover {
    box-shadow: 0 0 20px #d7e119, 0 0 30px #d7f419, 0 0 40px #d1df14;
  }
  
  .course-title-main {
    font-size: 24px;
    font-weight: bold;
  }
  
  .course-subtitlemain {
    font-size: 16px;
    margin-top: 10px;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  