body {
    font-family: 'Poppins', sans-serif;
    background:#c5e4df;;
    margin: 0;
    padding: 0;
  }
  
  .landing-page {
    width: 100%;
    padding: 20px 50px;
  }
  /* Hero Section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-content h1 {
    font-size: 50px;
    color: #1e2a52;
    font-weight: bold;
  }
  
  .hero-content p {
    font-size: 18px;
    color: gray;
    margin-top: 10px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .start-trial {
    background: linear-gradient(to right, #0b8874,#067260);
    color: white;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .watch-video {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .hero-image {
    position: relative;
  }
  
  .child-image {
    width: 400px;
    border-radius: 10px;
  }
  
  .badge {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #ff4500;
    color: white;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
  }
  