.test-series-section {
    /* background-image: url(../src/assets/reg3.jpg); */
    background-size:cover; /* Ensures the background image covers the entire section */
    background-position:center; 
    background-repeat: no-repeat; 
    padding: 60px 20px; 
    background-color: rgba(233, 247, 239, 0.9); 
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    color: #333;
    font-family: 'Arial', sans-serif;
    overflow: hidden; 
    position: relative; 
}


.containertwo {
    display: block; /* Ensures content behaves as a block */
    width: 100%; /* Full width for block elements */
    max-width: 600px; /* Limit the width of the content */
    margin: 0 auto; /* Center the container */
}

.test-series-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2e7d32;
}

.test-series-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.buy-now-button {
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-now-button:hover {
    background-color: #218838;
}
