.test-series-section {
    /* background-image: url(../src/assets/reg3.jpg); */
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-size:cover; 
    background-position:center; 
    background-repeat: no-repeat; 
    padding: 60px 20px; 
    background-color: #e6ebfc; 
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    color: #333;
    overflow: hidden; 
    position: relative; 
    background-image: url(../src/assets/registerbg3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fading 1s ease-in-out;
}


.containerR {
    display: block; /* Ensures content behaves as a block */
    width: 100%; /* Full width for block elements */
    max-width: 600px; /* Limit the width of the content */
    margin: 0 auto; /* Center the container */
}

.test-series-title {
    z-index: 1;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #1a3d4c;
}

.test-series-description {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.buy-now-button {
    padding: 12px 24px;
    background-color: #1a3d4c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-now-button:hover {
    background-color: #2a718f;
}



/* Animation */
@keyframes fading {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}